@model PetAdopt.Models.PetDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Pet.Name</h4>
    <a asp-action="Edit" asp-route-id="@Model.Pet.Id">Edit</a> | <a asp-action="Delete" asp-route-id="@Model.Pet.Id">Delete</a>
    <br />
    <hr />
    <img class="card-img-top text-center" src="@Model.Pet.PhotoURL" alt="@Model.Pet.Name - @Model.Pet.Location" style="width: 50%;">
    <br />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Location)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Location)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Type)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Breed)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Color)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Color)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Age)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Age)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Size)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Size)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Gender)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Gender)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.Description)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.HouseTrained)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.HouseTrained)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Pet.AdoptionFee)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Pet.AdoptionFee)
        </dd>
    </dl>
</div>

<br>
<br>
<h4 class=".text-center">Apply to Adopt @Model.Pet.Name!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetID" value="@Model.Pet.Id" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownList("Status",
                    new SelectList(Enum.GetValues(typeof(AdoptPet.ApplicationStatus))),
                    "-- Select --",
                    new { @class = "form-control" })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateRegistered" class="control-label"></label>
                <input asp-for="DateRegistered" class="form-control" />
                <span asp-validation-for="DateRegistered" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" /> |
                <a asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>