@model IEnumerable<PetAdopt.Models.Pet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adopt a pet today</h1>
<a asp-action="Create">Create New</a>
<br />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="@item.PhotoURL" alt="@item.Name - @item.Location" style="height: 225px; width: 100%; display: block;" src="@item.PhotoURL" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Location)</p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
    }
</div>