@model PetAdopt.Models.AdoptApplication

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AdoptApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRejected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRejected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleAtHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleAtHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenAtHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenAtHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenAges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenAges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAntiguety)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAntiguety)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandlordConsentForPets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandlordConsentForPets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandlordInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandlordInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovingNextSixMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovingNextSixMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetIsAGift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetIsAGift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeThoughtToGetAPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeThoughtToGetAPet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhyAPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhyAPet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodEstimateExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodEstimateExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalEstimateExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalEstimateExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiscEstimateExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiscEstimateExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyEstimateExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyEstimateExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialsProvideEssentials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialsProvideEssentials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialsNurturingEnvironment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialsNurturingEnvironment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialsAnimalControlByLaw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialsAnimalControlByLaw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialsContactAnimalShelter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialsContactAnimalShelter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials14DaysReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials14DaysReturn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureApplication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
